# settings file
settings.py

# cache folders
blogsite/__pycache__
contentfeed/__pycache__
contentfeed/migrations
.vscode
.DS_STORE

# Python Files
__init__.py 
manage.py
random_votes.py 

#DB 
db.sqlite3

