/* Fonts */
@font-face {
    font-family: "Archivo-Thin";
    src: url("../fonts/Archivo-Thin.woff2") format("woff2"),
        url("../fonts/Archivo-Thin.woff") format("woff"),
        url("../fonts/Archivo-Thin.ttf") format("truetype");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-ThinItalic";
    src: url("../fonts/Archivo-ThinItalic.woff2") format("woff2"),
        url("../fonts/Archivo-ThinItalic.woff") format("woff"),
        url("../fonts/Archivo-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-ExtraLight";
    src: url("../fonts/Archivo-ExtraLight.woff2") format("woff2"),
        url("../fonts/Archivo-ExtraLight.woff") format("woff"),
        url("../fonts/Archivo-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-ExtraLightItalic";
    src: url("../fonts/Archivo-ExtraLightItalic.woff2") format("woff2"),
        url("../fonts/Archivo-ExtraLightItalic.woff") format("woff"),
        url("../fonts/Archivo-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-Light";
    src: url("../fonts/Archivo-Light.woff2") format("woff2"),
        url("../fonts/Archivo-Light.woff") format("woff"),
        url("../fonts/Archivo-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-LightItalic";
    src: url("../fonts/Archivo-LightItalic.woff2") format("woff2"),
        url("../fonts/Archivo-LightItalic.woff") format("woff"),
        url("../fonts/Archivo-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-Regular";
    src: url("../fonts/Archivo-Regular.woff2") format("woff2"),
        url("../fonts/Archivo-Regular.woff") format("woff"),
        url("../fonts/Archivo-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-Italic";
    src: url("../fonts/Archivo-Italic.woff2") format("woff2"),
        url("../fonts/Archivo-Italic.woff") format("woff"),
        url("../fonts/Archivo-Italic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-Medium";
    src: url("../fonts/Archivo-Medium.woff2") format("woff2"),
        url("../fonts/Archivo-Medium.woff") format("woff"),
        url("../fonts/Archivo-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-MediumItalic";
    src: url("../fonts/Archivo-MediumItalic.woff2") format("woff2"),
        url("../fonts/Archivo-MediumItalic.woff") format("woff"),
        url("../fonts/Archivo-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-SemiBold";
    src: url("../fonts/Archivo-SemiBold.woff2") format("woff2"),
        url("../fonts/Archivo-SemiBold.woff") format("woff"),
        url("../fonts/Archivo-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-SemiBoldItalic";
    src: url("../fonts/Archivo-SemiBoldItalic.woff2") format("woff2"),
        url("../fonts/Archivo-SemiBoldItalic.woff") format("woff"),
        url("../fonts/Archivo-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-Bold";
    src: url("../fonts/Archivo-Bold.woff2") format("woff2"),
        url("../fonts/Archivo-Bold.woff") format("woff"),
        url("../fonts/Archivo-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-BoldItalic";
    src: url("../fonts/Archivo-BoldItalic.woff2") format("woff2"),
        url("../fonts/Archivo-BoldItalic.woff") format("woff"),
        url("../fonts/Archivo-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-ExtraBold";
    src: url("../fonts/Archivo-ExtraBold.woff2") format("woff2"),
        url("../fonts/Archivo-ExtraBold.woff") format("woff"),
        url("../fonts/Archivo-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-ExtraBoldItalic";
    src: url("../fonts/Archivo-ExtraBoldItalic.woff2") format("woff2"),
        url("../fonts/Archivo-ExtraBoldItalic.woff") format("woff"),
        url("../fonts/Archivo-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-Black";
    src: url("../fonts/Archivo-Black.woff2") format("woff2"),
        url("../fonts/Archivo-Black.woff") format("woff"),
        url("../fonts/Archivo-Black.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-BlackItalic";
    src: url("../fonts/Archivo-BlackItalic.woff2") format("woff2"),
        url("../fonts/Archivo-BlackItalic.woff") format("woff"),
        url("../fonts/Archivo-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: italic;
}

/* COLORS */
/* RED: ef233c */
/* Dark red: be0e23 */
/* GREY: #E7ECEE*/
/* BLACK: #20292C */
/*  */
/* New Colors */
/* Orange: F45B01 */
/* Grey:  EAEAEA*/
/* Purple: 7120fe */
/* Yellow: FEE440 */
/* Green: 01f45b */
/* BLACK:  000100*/
/* WHITE: F5F5F5 */
/* ----- ----- ----- ----- Custom CSS ----- ----- ----- ----- ----- -----  */
/* about card */
#atcard{
    border: none !important;
    background-color: #7120fe;
    color: #f5f5f5;
}
#atcard>.card-body{
    padding-bottom: 3.5rem;
}
#atcard>.card-body>p>a{
    color: #01f45b ;
    text-decoration: underline;
    padding-bottom: 1rem;
}
#atcard::after{
    content: "About Me";
    font-family: "Archivo-Black";
    font-size: 4rem;
    color: #000100;
    letter-spacing: 0.3rem;
    opacity: 15%;
    position: absolute;
    bottom:-15px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    overflow: hidden;
}

/* makes background white */
.bg-white {
    background: #fff !important;
}

/* Changes the color of any button to this color */
.btn.btn-col1 {
    background: #7120fe;
    border-color: #7120fe;
    color: #f5f5f5;
}

@media(hover: hover) and (pointer: fine) {
.btn.btn-col1:focus,
.btn.btn-col1:hover {
    background: #F45B01;
    border-color: #F45B01;
    color: #E7ECEE;
}
}
.btn.btn-col1:focus,
.btn.btn-col1:hover {
    background: #7120fe;
    border-color: #7120fe;
    color: #f5f5f5;
}

.btn.btn-col1:active,
.btn.btn-col1.active {
    background: #E7ECEE;
    border-color: #20292C;
    color: #F45B01;
}

/* Changes the vote chip */
#cvote{
    background-color: #F45B01 !important;
}
#cvote>a {
    font-family: "Archivo-Semibold";
    color: #f5f5f5 !important;
}
#cvote>a:visited {
    color: #6e2901 !important;
}


/* Removes the border from the editors pick */
#edpick {
    border: none !important;
    background-color: #7120fe;
    /* border-radius: 1rem; */
    color: #f5f5f5;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#edpick>.card-body{
    padding-bottom: 3rem !important;
}
#edpick::after{
    content: "Editors Pick";
    font-family: "Archivo-Black";
    font-size: 4rem;
    color: #000100;
    letter-spacing: 0.3rem;
    opacity: 15%;
    position: absolute;
    bottom:-10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    overflow: hidden;
}

#edlink>a {
    font-family: "Archivo-Medium";
    color: #f5f5f5;
}
#edchip{
    background-color: #01f45b !important;
    color: #000100 !important;
}

/* Generic changes for the pages */
.linkchange>*>a {
    color: #7120fe !important;
}
/* Custom Top margin */
.mt-1r{
    margin-top: 1rem;
}
/* Makes the top bar sticky to the top */
.p-sticky-t {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 10;
    padding-top: 1rem;
}

/* Allows for the toggling of the search bar on and off */
#searchbar {
    display: none;
}
#sbuttS{
    visibility:visible;
    position: absolute;
    left: 28%;
    top: 28%;
}
#sbuttX{
    visibility:hidden;
    position: absolute;
    left: 28%;
    top: 28%;
}

/* Allows for the sites to have a solid black border at the top */
#sitegrid {
    border-top: 2px solid black !important;
}

/* Top Search Bar */
#sbar{
    margin-top: 1rem !important;
}

#sbar>input {
    width: 100% !important;
    border-radius: 5rem 0rem 0rem 5rem;
    border: 1px solid #20292C;
    padding-left: 10px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
}

#sbar>button {
    border-radius: 0rem 5rem 5rem 0rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1.25rem;
}
#title {
    position: relative;
    display: flex;
}
#title>a {
    text-decoration: none !important;
    padding-bottom: 0px;
    line-height: 1;
    align-items: flex-end;
    display: flex;
}

#title>a>img{
    max-width: 50%;
    align-items: flex-end;
    margin: auto;
    padding-bottom: 8px;
}

#title>a>h1 {
    font-family: "Archivo-Extrabold";
    color: black;
    letter-spacing: 0.2rem;
}
