/* Fonts */
@font-face {
    font-family: "Archivo-Thin";
    src: url("../fonts/Archivo-Thin.woff2") format("woff2"),
        url("../fonts/Archivo-Thin.woff") format("woff"),
        url("../fonts/Archivo-Thin.ttf") format("truetype");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-ThinItalic";
    src: url("../fonts/Archivo-ThinItalic.woff2") format("woff2"),
        url("../fonts/Archivo-ThinItalic.woff") format("woff"),
        url("../fonts/Archivo-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-ExtraLight";
    src: url("../fonts/Archivo-ExtraLight.woff2") format("woff2"),
        url("../fonts/Archivo-ExtraLight.woff") format("woff"),
        url("../fonts/Archivo-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-ExtraLightItalic";
    src: url("../fonts/Archivo-ExtraLightItalic.woff2") format("woff2"),
        url("../fonts/Archivo-ExtraLightItalic.woff") format("woff"),
        url("../fonts/Archivo-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-Light";
    src: url("../fonts/Archivo-Light.woff2") format("woff2"),
        url("../fonts/Archivo-Light.woff") format("woff"),
        url("../fonts/Archivo-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-LightItalic";
    src: url("../fonts/Archivo-LightItalic.woff2") format("woff2"),
        url("../fonts/Archivo-LightItalic.woff") format("woff"),
        url("../fonts/Archivo-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-Regular";
    src: url("../fonts/Archivo-Regular.woff2") format("woff2"),
        url("../fonts/Archivo-Regular.woff") format("woff"),
        url("../fonts/Archivo-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-Italic";
    src: url("../fonts/Archivo-Italic.woff2") format("woff2"),
        url("../fonts/Archivo-Italic.woff") format("woff"),
        url("../fonts/Archivo-Italic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-Medium";
    src: url("../fonts/Archivo-Medium.woff2") format("woff2"),
        url("../fonts/Archivo-Medium.woff") format("woff"),
        url("../fonts/Archivo-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-MediumItalic";
    src: url("../fonts/Archivo-MediumItalic.woff2") format("woff2"),
        url("../fonts/Archivo-MediumItalic.woff") format("woff"),
        url("../fonts/Archivo-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-SemiBold";
    src: url("../fonts/Archivo-SemiBold.woff2") format("woff2"),
        url("../fonts/Archivo-SemiBold.woff") format("woff"),
        url("../fonts/Archivo-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-SemiBoldItalic";
    src: url("../fonts/Archivo-SemiBoldItalic.woff2") format("woff2"),
        url("../fonts/Archivo-SemiBoldItalic.woff") format("woff"),
        url("../fonts/Archivo-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-Bold";
    src: url("../fonts/Archivo-Bold.woff2") format("woff2"),
        url("../fonts/Archivo-Bold.woff") format("woff"),
        url("../fonts/Archivo-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-BoldItalic";
    src: url("../fonts/Archivo-BoldItalic.woff2") format("woff2"),
        url("../fonts/Archivo-BoldItalic.woff") format("woff"),
        url("../fonts/Archivo-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-ExtraBold";
    src: url("../fonts/Archivo-ExtraBold.woff2") format("woff2"),
        url("../fonts/Archivo-ExtraBold.woff") format("woff"),
        url("../fonts/Archivo-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-ExtraBoldItalic";
    src: url("../fonts/Archivo-ExtraBoldItalic.woff2") format("woff2"),
        url("../fonts/Archivo-ExtraBoldItalic.woff") format("woff"),
        url("../fonts/Archivo-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-Black";
    src: url("../fonts/Archivo-Black.woff2") format("woff2"),
        url("../fonts/Archivo-Black.woff") format("woff"),
        url("../fonts/Archivo-Black.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-BlackItalic";
    src: url("../fonts/Archivo-BlackItalic.woff2") format("woff2"),
        url("../fonts/Archivo-BlackItalic.woff") format("woff"),
        url("../fonts/Archivo-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: italic;
}
/* 
-- Color Scheme
Yellow: FADF33
Orange: FF9D45
Charcoal: 353238
beige: EEE9D7  
*/
/* ----- ----- ----- ----- Custom CSS ----- ----- ----- ----- ----- -----  */
/* About Code */
#aboutBox{
    padding: 1rem;
}
#aboutTitle{
    padding-top: 1rem;
    width: 80% !important;
    margin-bottom: 1rem;
}
#aboutTitle>h2{
    font-family: "Archivo-ExtraBold";
    font-size: 1rem;
    transform: skew(-15deg);
    padding-bottom: 0.25rem;
}
#aboutTitle>p:nth-child(2){
    padding: 0.5rem;
}
#aboutTitle>p:nth-child(3),p:nth-child(4),p:nth-child(5){
    padding: 0 0.5rem;
}
#aboutImage{
margin: auto;
}
#aboutlast{
    padding-top: 1rem;
    width: 80% !important;
}
#aboutlast>h2{
    font-family: "Archivo-ExtraBold";
    font-size: 1rem;
    transform: skew(-15deg);
    padding-bottom: 0.25rem;
}
#aboutlast>p{
    padding: 0.5rem;
}



#aboutNum{
    padding: 0 1rem 1rem 1rem;
}

#aboutNum>div{
    width: 100%;
}


#aboutNum>*>p{
    padding: 0.5rem 0.15rem 0rem 0.15rem;
}

#aboutHero{
    padding: 2rem !important;
}
#numberTitle{
    width: 40px;
    aspect-ratio: 1/1;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Changes the color of any button to this color */
.btn.btn-col1 {
    background: #FADF33;
    border-color: #FADF33;
    color: #353238;
}

.btn.btn-col1:focus,
.btn.btn-col1:hover {
    background: #353238;
    border-color: #FADF33;
    color: #FADF33;
}

.btn.btn-col1:active,
.btn.btn-col1.active {
    background: #FF9D45;
    border-color: #FF9D45;
    color: #353238;
}
/* Cards */
/* Top Card */
#cardTop {
    border: none !important;
    background-color: #353238;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem ;
    border-radius: 0;
    color: #FADF33 !important;
}
#cardTop>.card-header>.card-title{
    color: #fff;
}
#cardTop>hr{
    border-top: 1px solid #FADF33 !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    height: 1px;
    width: 95%;
    margin-top:0;
    margin-bottom:0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
}
#edlink>a {
    color: #FADF33;
}


/* Changes the vote chip */
#cvote>a {
    font-family: "Archivo-Semibold";
    color: #FADF33 !important;
}
#cvote>a:visited {
    color: #EEE9D7 !important;
}
/* Removes the border from the editors pick */
#cardTop {
    border: none !important;
    background-color: #353238;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0;
    color: #FADF33 !important;
}

#cardTop>.card-header>.card-title{
    color: #fff;
}

/* Disclaimer  */
#discTitle{
    font-family: "Archivo-ExtraBold";
    font-size: 1rem;
    transform: skew(-15deg);
    padding: 0.25rem 1rem;
    margin-top: 1.5rem;
}

#discItems{
    max-width: 90%;
    padding: 1rem;
}

#discIcon{
    border: 1px solid black;
    width: 30px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-right: 5px;
}
#discItems>.tile{
    margin-bottom: 0.5rem;
}

#edlink>a {
    color: #FADF33;
}

/* Footer */
#footer>*>p{
    font-size: 14px;
}
#footer>*>p>a{
    color: #FADF33;
}

/* Generic changes for the pages */
.linkchange>*>a {
    color: #353238 !important;
    text-decoration:underline !important;
}

.link-yellow>*>a{
    background-color: #FADF33;
    text-transform: none;
}

/* Makes the top bar sticky to the top */
.p-sticky-t {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 10;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #353238 !important;
}
/* Allows for the toggling of the search bar on and off */
#searchbar {
    display: none;
    background-color: #353238;
    margin: 2rem 0 0 0;
}
#sbuttS{
    visibility:visible;
    position: absolute;
    left: 28%;
    top: 28%;
}
#sbuttX{
    visibility:hidden;
    position: absolute;
    left: 28%;
    top: 28%;
}

/* Allows for the sites to have a solid black border at the top */
#sitegrid {
    border-top: 2px solid black !important;
}

/* Top Search Bar */
#sbar{
    margin-top: 1rem !important;
}

#sbar>input {
    width: 100% !important;
    border-radius: 5rem 0rem 0rem 5rem;
    border: 2px solid #FADF33;
    background-color: #353238 ;
    color:#FADF33;
    padding-left: 10px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
}
#sbar>input::placeholder {
    color:#FADF33;
    font-family: "Archivo-Thin";
}
#sbar>input:focus {
    color:#FADF33 !important;
}
#sbar>button {
    border-radius: 0rem 5rem 5rem 0rem;
    text-align: center;
    padding-left: .5rem;
    padding-right: 0.75rem;
}
#title {
    padding: 0;
    line-height: 1;
    transform: skew(-15deg);
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#title>a {
    text-decoration: none !important;
    color: #353238;
    line-height: 1;
    font-size: 25px;
    margin: auto;
    background-color: #FADF33;
    padding: 0 0.5rem 0 0.5rem;
    letter-spacing: -0.1rem;
    vertical-align: middle;
    
}
/* JS will change the text of this title. a span is hiding  */
#titleText::after{
    visibility: visible;
    content: attr(data-title); 
}

/* Media */
@media screen and (min-width: 500px) {
    #aboutTitle>h2{
        font-family: "Archivo-ExtraBold";
        transform: skew(-15deg);
    }
    #aboutTitle{
        padding-top: 1rem;
    }
    #title>a{
        text-decoration: none !important;
        padding: 0px;
        line-height: 1;
        color: #353238;
        font-size: 40px;
        background-color: #FADF33;
        padding: 0 0.5rem 0 0.5rem;
        letter-spacing: -0.1rem;
        }
    #discItems{
            max-width: 80%;
            padding: 1rem;
        }
    #sbar>button {
        border-radius: 0rem 5rem 5rem 0rem;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1.25rem;
        }       

    #footer>*>p{
            font-size: 1rem;
        }
    }
@media screen and (min-width: 700px) {
        #aboutNum>div{
            width: 33.33333333% !important;
        }
    }
