/* Fonts */
@font-face {
    font-family: "Archivo-Thin";
    src: url("../fonts/Archivo-Thin.woff2") format("woff2"),
        url("../fonts/Archivo-Thin.woff") format("woff"),
        url("../fonts/Archivo-Thin.ttf") format("truetype");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-ThinItalic";
    src: url("../fonts/Archivo-ThinItalic.woff2") format("woff2"),
        url("../fonts/Archivo-ThinItalic.woff") format("woff"),
        url("../fonts/Archivo-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-ExtraLight";
    src: url("../fonts/Archivo-ExtraLight.woff2") format("woff2"),
        url("../fonts/Archivo-ExtraLight.woff") format("woff"),
        url("../fonts/Archivo-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-ExtraLightItalic";
    src: url("../fonts/Archivo-ExtraLightItalic.woff2") format("woff2"),
        url("../fonts/Archivo-ExtraLightItalic.woff") format("woff"),
        url("../fonts/Archivo-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-Light";
    src: url("../fonts/Archivo-Light.woff2") format("woff2"),
        url("../fonts/Archivo-Light.woff") format("woff"),
        url("../fonts/Archivo-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-LightItalic";
    src: url("../fonts/Archivo-LightItalic.woff2") format("woff2"),
        url("../fonts/Archivo-LightItalic.woff") format("woff"),
        url("../fonts/Archivo-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-Regular";
    src: url("../fonts/Archivo-Regular.woff2") format("woff2"),
        url("../fonts/Archivo-Regular.woff") format("woff"),
        url("../fonts/Archivo-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-Italic";
    src: url("../fonts/Archivo-Italic.woff2") format("woff2"),
        url("../fonts/Archivo-Italic.woff") format("woff"),
        url("../fonts/Archivo-Italic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-Medium";
    src: url("../fonts/Archivo-Medium.woff2") format("woff2"),
        url("../fonts/Archivo-Medium.woff") format("woff"),
        url("../fonts/Archivo-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-MediumItalic";
    src: url("../fonts/Archivo-MediumItalic.woff2") format("woff2"),
        url("../fonts/Archivo-MediumItalic.woff") format("woff"),
        url("../fonts/Archivo-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-SemiBold";
    src: url("../fonts/Archivo-SemiBold.woff2") format("woff2"),
        url("../fonts/Archivo-SemiBold.woff") format("woff"),
        url("../fonts/Archivo-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-SemiBoldItalic";
    src: url("../fonts/Archivo-SemiBoldItalic.woff2") format("woff2"),
        url("../fonts/Archivo-SemiBoldItalic.woff") format("woff"),
        url("../fonts/Archivo-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-Bold";
    src: url("../fonts/Archivo-Bold.woff2") format("woff2"),
        url("../fonts/Archivo-Bold.woff") format("woff"),
        url("../fonts/Archivo-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-BoldItalic";
    src: url("../fonts/Archivo-BoldItalic.woff2") format("woff2"),
        url("../fonts/Archivo-BoldItalic.woff") format("woff"),
        url("../fonts/Archivo-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-ExtraBold";
    src: url("../fonts/Archivo-ExtraBold.woff2") format("woff2"),
        url("../fonts/Archivo-ExtraBold.woff") format("woff"),
        url("../fonts/Archivo-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-ExtraBoldItalic";
    src: url("../fonts/Archivo-ExtraBoldItalic.woff2") format("woff2"),
        url("../fonts/Archivo-ExtraBoldItalic.woff") format("woff"),
        url("../fonts/Archivo-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Archivo-Black";
    src: url("../fonts/Archivo-Black.woff2") format("woff2"),
        url("../fonts/Archivo-Black.woff") format("woff"),
        url("../fonts/Archivo-Black.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Archivo-BlackItalic";
    src: url("../fonts/Archivo-BlackItalic.woff2") format("woff2"),
        url("../fonts/Archivo-BlackItalic.woff") format("woff"),
        url("../fonts/Archivo-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: italic;
}

/* COLORS */
/* RED: ef233c */
/* Dark red: be0e23 */
/* GREY: #E7ECEE*/
/* BLACK: #20292C */
/*  */
/* New Colors */
/* Orange: F45B01 */
/* Grey:  EAEAEA*/
/* Purple: 7120fe */
/* Yellow: FEE440 */
/* Green: 01f45b */
/* BLACK:  000100*/
/* WHITE: F5F5F5 */
/*  */
/*  */
/* 
Yellow: FADF33
Orange: FF9D45
Charcoal: 353238
beige: EEE9D7 
*/
/* ----- ----- ----- ----- Custom CSS ----- ----- ----- ----- ----- -----  */
/* about card */
#atcard{
    border: none !important;
    background-color: #353238;
    color: #FADF33;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 0;
}
#atcard>.card-body>p>a{
    color: #353238 ;
    background-color: #FADF33;
    text-decoration: none;
}

/* makes background dark */
.bg-charcoal {
    background: #353238 !important;
}

/* Changes the color of any button to this color */
.btn.btn-col1 {
    background: #FADF33;
    border-color: #FADF33;
    color: #353238;
}

.btn.btn-col1:focus,
.btn.btn-col1:hover {
    background: #353238;
    border-color: #FADF33;
    color: #FADF33;
}

.btn.btn-col1:active,
.btn.btn-col1.active {
    background: #FF9D45;
    border-color: #FF9D45;
    color: #353238;
}

/* Changes the vote chip */
#cvote{
    background-color: #353238 !important;
}
#cvote>a {
    font-family: "Archivo-Semibold";
    color: #FADF33 !important;
}
#cvote>a:visited {
    color: #EEE9D7 !important;
}
#dropmenu {
    background-color: #FADF33;
}

/* Removes the border from the editors pick */
#edpick {
    border: none !important;
    background-color: #353238;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0;
}

#edpick>.card-header>.card-title{
    color: #fff;
}

#edpick>hr{
    border-top: 1px solid #FADF33 !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    height: 1px;
    width: 95%;
    margin-top:0;
    margin-bottom:0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
}

#edlink>a {
    color: #FADF33;
}
#edchip{
    background-color: #FADF33 !important;
    color: #000100 !important;
}
/* Footer */
#footer{
    background-color: #FADF33;
    padding: 0.1rem;
    margin: 0 !important;
}
#footer>p{
    margin: 0 !important;
}

/* Generic changes for the pages */
.linkchange>*>a {
    color: #353238 !important;
    text-decoration:underline !important;
}
/* Custom Top margin */
.mt-1r{
    margin-top: 1rem;
}

/* Makes the top bar sticky to the top */
.p-sticky-t {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 10;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #353238 !important;
}

.pt-2r{
    margin-top: 2rem;
}

/* Allows for the toggling of the search bar on and off */
#searchbar {
    display: none;
    background-color: #353238;
    margin: 0;
}
#sbuttS{
    visibility:visible;
    position: absolute;
    left: 28%;
    top: 28%;
}
#sbuttX{
    visibility:hidden;
    position: absolute;
    left: 28%;
    top: 28%;
}

/* Allows for the sites to have a solid black border at the top */
#sitegrid {
    border-top: 2px solid black !important;
}

/* Top Search Bar */
#sbar{
    margin-top: 1rem !important;
}

#sbar>input {
    width: 100% !important;
    border-radius: 5rem 0rem 0rem 5rem;
    border: 2px solid #FADF33;
    background-color: #353238 ;
    color:#FADF33;
    padding-left: 10px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
}
#sbar>input::placeholder {
    color:#FADF33;
    font-family: "Archivo-Thin";
}
#sbar>input:focus {
    color:#FADF33 !important;
}

#sbar>button {
    border-radius: 0rem 5rem 5rem 0rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1.25rem;
}
#title {
    padding: 0;
    line-height: 1;
    transform: skew(-15deg);
}
#title>a {
    text-decoration: none !important;
    padding: 0px;
    line-height: 1;
    color: #353238;
    font-size: 1.9rem;
    background-color: #FADF33;
    padding: 0 0.5rem 0 0.5rem;
    letter-spacing: -0.1rem;
}

@media (width > 400px) {
    #title>a>img{
        height:1.9rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
} 

#title>a>img{
    height:1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

}
