{% extends "standard.html" %} {% block content %}
<div class="divider"></div>
<div class="container grid-lg">
  <!-- Blurb -->
  <h2>About</h2>
  <h4>
    This site is dedicated to connecting those who write about video games, the
    games industry, and game development with more readers.
  </h4>
  <p>
    Over the past few years we’ve seen a systemic undervaluing in editorial
    content. Many of the industries outlets have been shuttered whilst those
    that remain, only remain in business by creating mass-produced SEO friendly
    content. I’ve watched as many of my favorite writers have lost their jobs,
    or have been pushed into non-writing roles just to stay in the industry they
    love. However, the editorial content is still being made, it’s just not
    coming from large corporate owned sites. Many of our industries best writers
    now have blogs, patreon's, and substack’s. Some write for free, whilst
    others need crowd funding to pay the bills. Meanwhile, up-and-coming writers
    no longer have a pathway into a viable career. These writers are left either
    penning their own blog on the side just to keep their passion going, or
    submitting their work to volunteer driven sites.
  </p>
  <p>
    The problem surrounding all of these amazing writers is, discovery.
    Alongside the crash of games writing, is also the crash of the traditional
    social media channels that used to be a reliable driver for discovering
    great pieces of writing. I made this site so that I can rectify this shift
    and reconnect the industries best writers with the readers who are
    interested in this content.
  </p>
  <p>
    I want those who rely on crowdfunding to be given the opportunity to prove
    to a new audience why their work is worth the small amount of money that
    they are asking for. I want more people to be able to read what our greatest
    writers have to say as they often are key drivers in shaping and improving
    the culture and education of our industry. And lastly I want those
    up-and-coming writers to be able to get a chance to show off their work to a
    bigger audience, hopefully enabling them to grow their writing into whatever
    direction helps them meet their goals.
  </p>
  <p>
    This site is my way of giving back to the community of writers whose words
    have moved me, educated me, and delighted me over the past few years, and
    hopefully many more years to come.
  </p>
  <!-- Find more of my work -->
  <div id="atcard" class="card mb-2 p-relative">
    <div class="card-header">
      <div class="card-title h4">Find more of my work</div>
    </div>
    <div class="card-body">
      <p>
        This site is just one of the many things I put out into the universe for
        people to consume. I'm a writer, an artist, a hobbyist game developer,
        and I also do freelance IT work for clients.
      </p>
      <p>
        If you want to see my other work, follow me on a social media platform,
        or even just buy me a coffee, you can do so via my
        <a href="https://linktr.ee/antranaut" target="_blank">LinkTree.</a>
      </p>
    </div>
  </div>
  <!-- Disclaimer -->
  <div class="pt-2"><h3>Disclaimer & General Rules</h3></div>
  <div class="tile">
    <div class="tile-icon">
      <div class="tile-icon"><i class="icon icon-minus"></i></div>
    </div>
    <div class="tile-content">
      <p>
        Whilst I take no responsibility for the content of the work that is
        linked here, I am a queer gender-diverse person who has zero tolerance
        for hate speech and content that harms minority groups.
      </p>
    </div>
  </div>
  <div class="tile">
    <div class="tile-icon">
      <div class="tile-icon"><i class="icon icon-minus"></i></div>
    </div>
    <div class="tile-content">
      <p>
        In the scenario I deem an article to be inappropriate for this site and
        it's readers I will remove it, continued publishing of harmful content
        may result in the site being removed from this site.
      </p>
    </div>
  </div>
  <div class="tile">
    <div class="tile-icon">
      <div class="tile-icon"><i class="icon icon-minus"></i></div>
    </div>
    <div class="tile-content">
      <p>
        I will also periodically review the sources I am sourcing from for
        appropriateness and may remove them if I feel they no longer meet the
        ethos of the site, i.e becoming less editorial.
      </p>
    </div>
  </div>
  <div class="tile">
    <div class="tile-icon">
      <div class="tile-icon"><i class="icon icon-minus"></i></div>
    </div>
    <div class="tile-content">
      <p>
        From time to time, especially in the case of a personal blog or a mixed
        media site, an article may not be thematically appropriate, for example
        a lot of Gaming sites also write about tech and pop culture.
      </p>
    </div>
  </div>
  <div class="tile">
    <div class="tile-icon">
      <div class="tile-icon"><i class="icon icon-minus"></i></div>
    </div>
    <div class="tile-content linkchange">
      <p>
        You can make a request to have your site added by filling out the form
        on the <a href="/sites">Sites page</a>. Please ensure you read the rules before making a
        submissions and reach out if you have any questions. I'll attempt to
        evaluate new requests in a timely manner.
      </p>
    </div>
  </div>
  <div class="tile">
    <div class="tile-icon">
      <div class="tile-icon"><i class="icon icon-minus"></i></div>
    </div>
    <div class="tile-content">
      <p>
        Content is loaded in using RSS, changes to RSS feeds may result in
        articles not being loaded to the site and I will attempt to resolve
        those issues, but with no promises of a full resolution.
      </p>
    </div>
  </div>
  <div class="tile">
    <div class="tile-icon">
      <div class="tile-icon"><i class="icon icon-minus"></i></div>
    </div>
    <div class="tile-content">
      <p>
        Due to the aforementioned way of loading information (RSS), changes to
        the title of an article post loading are not possible, and while I have
        systematic ways of preventing duplication, it cannot always be avoided.
      </p>
    </div>
  </div>
  <div class="tile">
    <div class="tile-icon">
      <div class="tile-icon"><i class="icon icon-minus"></i></div>
    </div>
    <div class="tile-content">
      <p>
        This site is a passion project and so not all requests for new features
        will be entertained and regular updates are not promised.
      </p>
    </div>
  </div>
  <!-- Contact Me -->
  <div class="pt-2"><h3>Contact Me</h3></div>
  <p>
    If you want to get in contact about any questions, concerns, or want to
    share some good vibes, please fill in the form below.
  </p>
  <div class="container clearfix d-block">
  <div class="container grid-xs float-left p-0">
    <!-- Form submission Toast -->
    {% if fvalid == 1 %}
    <div class="toast toast-success">
      <button class="btn btn-clear float-right"></button>
      Form Submitted Successfully
    </div>
    {% elif fvalid == 2 %}
    <div class="toast toast-error">
      <button class="btn btn-clear float-right"></button>
      Form not submitted, review your entry and try again.
    </div>
    {% endif %}
    <!-- Form -->
    <form method="POST">
      {% csrf_token %} {{ cform.non_field_errors }}
      <div class="form-group">
        {{ cform.subject.errors }}
        <label class="form-label" for="{{cform.contact_name.id_for_label}}"
          >Your Name</label
        >
        <input
          class="form-input"
          type="text"
          name="contact_name"
          maxlength="256"
          id="id_contact_name"
        />
      </div>
      <div class="form-group">
        {{ cform.subject.errors }}
        <label class="form-label" for="{{ cform.contact_email.id_for_label }}"
          >Your Email</label
        >
        <input
          class="form-input"
          type="email"
          name="contact_email"
          maxlength="254"
          id="id_contact_email"
        />
      </div>
      <div class="form-group">
        {{ cform.subject.errors }}
        <label class="form-label" for="{{ cform.contact_notes.id_for_label }}"
          >Your Message</label
        >
        <textarea
          class="form-input"
          name="contact_notes"
          rows="5"
          maxlength="2000"
          id="id_contact_notes"
        ></textarea>
      </div>
      <input class="btn btn-col1" type="submit" value="Submit" />
    </form>
  </div>
</div>
</div>
{% endblock %}
