{% extends "standard.html" %} {% block content %}{% load static %}
<div class="container grid-lg p-0">
  <!-- Page Title -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
  <div id="header-big">
    <span class="bg-yellow fnt-extra px-1r">About</span>
  </div>
  <!-- hero -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
  <div class="bg-yellow text-center p-2r ">
    <span class="fnt-i-bold fnt-1r">
      This site is dedicated to connecting those who write about video games,
      the games industry, and game development with more readers. It is my way
      of giving back to the community of writers whose words have moved me,
      educated me, and delighted me over the past few years, and hopefully many
      more years to come.
    </span>
  </div>
  <!-- Industry in decline -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
  <div class="columns my-1r">
    <!-- Left Col -->
    <div id="col-left" class="column pl-1hr">
      <div id="header-medium">
        <span class="bg-yellow fnt-extra p-2">An industry in decline</span>
      </div>
      <span>
        Over the past few years we’ve seen a systemic undervaluing in editorial
        content. Many of the industries outlets have been shuttered whilst those
        that remain, only remain in business by creating mass-produced SEO
        friendly content.
        <br /><br />
        I’ve watched as many of my favorite writers have lost their jobs, or
        have been pushed into non-writing roles just to stay in the industry
        they love. However, the editorial content is still being made, it’s just
        not coming from large corporate owned sites.
      </span>
    </div>
    <!-- Right Col -->
    <div id="col-right" class="column">
      <img id="img-about" src="{% static '/images/decline.png' %}" />
    </div>
  </div>
  <!-- Where are they now? -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
  <div class="columns my-1r bg-yellow">
    <!-- Left Col -->
    <div id="col-left" class="column pl-1hr">
      <div id="header-medium">
        <span class="bg-dark fnt-extra p-2">Where are they now?</span>
      </div>
      <span>
        Many of our industries best writers now have blogs, patreon's, and
        substack’s. Some write for free, whilst others need crowd funding to pay
        the bills.
        <br /><br />
        Meanwhile, up-and-coming writers no longer have a pathway into a viable
        career. These writers are left either penning their own blog on the side
        just to keep their passion going, or submitting their work to volunteer
        driven sites.
      </span>
    </div>
    <!-- Right Col -->
    <div id="col-right" class="column pt-2r">
      <img id="img-about" src="{% static '/images/where.png' %}" />
    </div>
  </div>
  <!-- A new problem -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
  <div class="columns my-1r">
    <!-- Left Col -->
    <div id="col-left" class="column pl-1hr">
      <div id="header-medium">
        <span class="bg-yellow fnt-extra p-2">A new problem</span>
      </div>
      <span>
        The problem surrounding all of these amazing writers is, discovery.
        <br /><br />
        Alongside the crash of games writing, is also the crash of the
        traditional social media channels that used to be a reliable driver for
        discovering great pieces of writing.
      </span>
    </div>
    <!-- Right Col -->
    <div id="col-right" class="column">
      <img id="img-about" src="{% static '/images/problem.png' %}" />
    </div>
  </div>
  <!-- Purpose -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
  <div class="columns mt-1r pb-1r bg-yellow">
    <!-- Left Col -->
    <div id="col-left" class="column pl-1hr">
      <div id="header-medium">
        <span class="bg-dark fnt-extra p-2">Reconnect's purpose</span>
      </div>
      <span>
        I made this site so that I can rectify this shift and reconnect the
        industries best writers with the readers who are interested in this
        content.
      </span>
    </div>
    <!-- Right Col -->
    <div id="col-right" class="column"></div>
  </div>
  <!-- Three Points -->
  <div class="columns mb-2r px-1r pb-1r bg-yellow">
    <div id="tri-opt" class="column">
      <div id="small-box" class="bg-dark mb-hr text-center fnt-bold">1</div>
      <span>
        I want those who rely on crowdfunding to be given the opportunity to
        prove to a new audience why their work is worth the small amount of
        money that they are asking for.
      </span>
    </div>
    <div id="tri-opt" class="column">
      <div id="small-box" class="bg-dark mb-hr text-center fnt-bold">2</div>
      <span>
        I want more people to be able to read what our greatest writers have to
        say as they often are key drivers in shaping and improving the culture
        and education of our industry.
      </span>
    </div>
    <div id="tri-opt" class="column">
      <div id="small-box" class="bg-dark mb-hr text-center fnt-bold">3</div>
      <span>
        I want those up-and-coming writers to be able to get a chance to show
        off their work to a bigger audience, hopefully enabling them to grow
        their writing into whatever direction helps them meet their goals.
      </span>
    </div>
  </div>
  <!-- Disclaimer -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
  <div id="header-big" class="mb-2r">
    <span class="bg-yellow fnt-extra p-2">Disclaimer</span>
  </div>
  <!-- Disc Point -->
  <div class="columns mt-1r">
    <!-- Left Col -->
    <div class="column pl-1r w60 col-auto mr-1r">
      <div id="small-box" class="bg-dark text-center">
        <i class="icon icon-arrow-right text-primary"></i>
      </div>
    </div>
    <!-- Right Col -->
    <div class="column col-9">
      <span>
        Whilst I take no responsibility for the content of the work that is
        linked here, I am a queer gender-diverse person who has zero tolerance
        for hate speech and content that harms minority groups.
      </span>
    </div>
  </div>
  <!-- Disc Point -->
  <div class="columns mt-1r">
    <!-- Left Col -->
    <div class="column pl-1r w60 col-auto mr-1r">
      <div id="small-box" class="bg-dark text-center">
        <i class="icon icon-arrow-right text-primary"></i>
      </div>
    </div>
    <!-- Right Col -->
    <div class="column col-9">
      <span>
        In the scenario I deem an article to be inappropriate for this site and
        it's readers I will remove it, continued publishing of harmful content
        may result in the site being removed from this site.
      </span>
    </div>
  </div>
  <!-- Disc Point -->
  <div class="columns mt-1r">
    <!-- Left Col -->
    <div class="column pl-1r w60 col-auto mr-1r">
      <div id="small-box" class="bg-dark text-center">
        <i class="icon icon-arrow-right text-primary"></i>
      </div>
    </div>
    <!-- Right Col -->
    <div class="column col-9">
      <span>
        I will also periodically review the sources for appropriateness and may
        remove them if I feel they no longer meet the ethos of the site, i.e
        becoming less editorial.
      </span>
    </div>
  </div>
  <!-- Disc Point -->
  <div class="columns mt-1r">
    <!-- Left Col -->
    <div class="column pl-1r w60 col-auto mr-1r">
      <div id="small-box" class="bg-dark text-center">
        <i class="icon icon-arrow-right text-primary"></i>
      </div>
    </div>
    <!-- Right Col -->
    <div class="column col-9">
      <span>
        From time to time, especially in the case of a personal blog or a mixed
        media site, an article may not be thematically appropriate, for example
        some Gaming sites also write about tech and pop culture.
      </span>
    </div>
  </div>
  <!-- Disc Point -->
  <div class="columns mt-1r">
    <!-- Left Col -->
    <div class="column pl-1r w60 col-auto mr-1r">
      <div id="small-box" class="bg-dark text-center">
        <i class="icon icon-arrow-right text-primary"></i>
      </div>
    </div>
    <!-- Right Col -->
    <div class="column col-9">
      <span>
        You can make a request to have your site added by filling out the form
        on the <a href="/sites">Sites page</a>. Please ensure you read the
        submission rules before submitting and reach out if you have any
        questions. I'll attempt to evaluate new requests in a timely manner.
      </span>
    </div>
  </div>
  <!-- Disc Point -->
  <div class="columns mt-1r">
    <!-- Left Col -->
    <div class="column pl-1r w60 col-auto mr-1r">
      <div id="small-box" class="bg-dark text-center">
        <i class="icon icon-arrow-right text-primary"></i>
      </div>
    </div>
    <!-- Right Col -->
    <div class="column col-9">
      <span>
        Content is loaded in using RSS, changes to RSS feeds may result in
        articles not being loaded to the site and I will attempt to resolve
        those issues, but with no promises of a full resolution.
      </span>
    </div>
  </div>
  <!-- Disc Point -->
  <div class="columns mt-1r">
    <!-- Left Col -->
    <div class="column pl-1r w60 col-auto mr-1r">
      <div id="small-box" class="bg-dark text-center">
        <i class="icon icon-arrow-right text-primary"></i>
      </div>
    </div>
    <!-- Right Col -->
    <div class="column col-9">
      <span>
        Due to the aforementioned way of loading information (RSS), changes to
        the title of an article post loading are not possible, and while I have
        systematic ways of preventing duplication, it cannot always be avoided.
      </span>
    </div>
  </div>
  <!-- Disc Point -->
  <div class="columns mt-1r">
    <!-- Left Col -->
    <div class="column pl-1r w60 col-auto mr-1r">
      <div id="small-box" class="bg-dark text-center">
        <i class="icon icon-arrow-right text-primary"></i>
      </div>
    </div>
    <!-- Right Col -->
    <div class="column col-9">
      <span>
      This website does not collect any personal information about it's users. The only information collected are basic server access logs which collect time and the type of device that accessed the site. 
      </span>
    </div>
  </div>
  <!-- Disc Point -->
  <div class="columns mt-1r">
    <!-- Left Col -->
    <div class="column pl-1r w60 col-auto mr-1r">
      <div id="small-box" class="bg-dark text-center">
        <i class="icon icon-arrow-right text-primary"></i>
      </div>
    </div>
    <!-- Right Col -->
    <div class="column col-9">
      <span>
        This website is not sponsored or receives money of any kind in it's operation. It is paid entirely out of my money and time.
      </span>
    </div>
  </div>
  
  <!-- Find more of our work -- -- -- -- -- -- -- -- -- -- -- -->
  <div class="columns mt-2r mb-2r">
    <div id="work-box" class="column bg-yellow p-1r">
    <div class="h250">
      <h2>Micah Tabak</h2>
      <span>
        I am an Aotearoa New Zealand-based designer who cares. Throughout my professional and personal work, I integrate design principles to demonstrate evidence-based design. I place end-users at the heart of my work to produce tailored outcomes that solve real-world problems. My work unites typography and illustration to create visually arresting pieces of design that are unconventional and thought-provoking. Explore my portfolio by clicking the link below.
      </span>
    </div>
      <div id="header-medium">
        <a
          class="tdn"
          href="https://samuelgerardtabak.myportfolio.com/?fbclid=IwAR0i0IHdOk4EXvj-WZfnxwyP5mCe8xF5kCJU4np-9U9FbSlniOr0iD2zIcw"
          target="_blank"
          ><span class="bg-dark fnt-extra p-2">Find more of my work</span></a
        >
      </div>
    </div>
    <div id="work-box" class="column bg-dark p-1r">
    <div class="h250">
      <h2>Alex Antra</h2>
      <span class="pb-1r">
        I'm a queer, jack of some trades master of not a lot, based in Pōneke, Aotearoa. By day, I'm a IT professional, and by night, I'm a writer, artist, and hobbyist game dev. I write about video games on my own blog and for Superjump Magazine. I also write the management blog, Barely Managing, which focuses on teaching leaders on how to be effective and empathetic managers. Click the link below to go to my LinkTree and see all of my work.
      </span>
    </div>
      <div id="header-medium">
        <a 
        class="tdn"
        href="https:www.antranaut.com" target="_blank"
          ><span class="bg-yellow fnt-extra p-2 text-dark"
            >Find more of my work</span
          ></a
        >
      </div>
    </div>
  </div>
  <!-- Contact Me -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
  <div id="header-big" class="mb-1r">
    <span class="bg-yellow fnt-extra p-2">Contact</span>
  </div>
  <div class="p-1r">
    <span>
      If you want to get in contact about any questions, concerns, or want to
      share some good vibes, please fill in the form below.
    </span>
  </div>
  <!-- Contact Form -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
  <div class="container clearfix d-block mb-2r">
    <div class="container grid-xs float-left p-0">
      <!-- Form submission Toast -->
      {% if fvalid == 1 %}
      <div class="toast toast-success">
        <button class="btn btn-clear float-right"></button>
        Form Submitted Successfully
      </div>
      {% elif fvalid == 2 %}
      <div class="toast toast-error">
        <button class="btn btn-clear float-right"></button>
        Form not submitted, review your entry and try again.
      </div>
      {% endif %}
      <!-- Form -->
      <form method="POST">
        {% csrf_token %} {{ cform.non_field_errors }}
        <div class="form-group">
          {{ cform.subject.errors }}
          <label class="form-label" for="{{cform.contact_name.id_for_label}}"
            >Your Name</label
          >
          <input
            class="form-input"
            type="text"
            name="contact_name"
            maxlength="256"
            id="id_contact_name"
          />
        </div>
        <div class="form-group">
          {{ cform.subject.errors }}
          <label class="form-label" for="{{ cform.contact_email.id_for_label }}"
            >Your Email</label
          >
          <input
            class="form-input"
            type="email"
            name="contact_email"
            maxlength="254"
            id="id_contact_email"
          />
        </div>
        <div class="form-group">
          {{ cform.subject.errors }}
          <label class="form-label" for="{{ cform.contact_notes.id_for_label }}"
            >Your Message</label
          >
          <textarea
            class="form-input"
            name="contact_notes"
            rows="5"
            maxlength="2000"
            id="id_contact_notes"
          ></textarea>
        </div>
        <input class="btn btn-primary m-2" type="submit" value="Submit" />
      </form>
    </div>
    <div class="clearfix"></div>
  </div>

  {% endblock %}
</div>
