<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}" />
    <title>Game Blog Name</title>
  </head>
  <body>
    <div id="base" class="container">
        <!-- Title -->
        <h1>Game Blog Name</h1>
        <!-- Navigation -->
        <div id="nav" class="row">
          <p><a>Home</a>  /  <a>About</a>  /  <a>Publications</a></p>
        </div>
        <!-- Content -->
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>
