<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}" />
    <title>Game Blog Name</title>
  </head>
  {% with url_name=request.resolver_match.url_name %}
  <body>
    <div id="base" class="container">
        <!-- Title -->
        <div id="title" class="row">
          <h1><span id="titred">RE</span>CONNECT</h1>
        </div>
        <!-- Navigation -->
        <div id="nav" class="row">
          <div class="column"><p><a id="{% if url_name == 'trending' %}currpage{% endif %}" href="/">Trending</a></p></div>
          <div class="column"><p><a id="{% if url_name == 'newest' %}currpage{% endif %}" href="/new">Newest</a></p></div>
          <div class="column"><p><a id="{% if url_name == 'oldest' %}currpage{% endif %}" href="/old">Oldest</a></p></div>
          <div class="column"><p><a id="{% if url_name == 'random' %}currpage{% endif %}" href="/random">Random</a></p></div>
          <div class="column"><p><a id="{% if url_name == 'about' %}currpage{% endif %}" href="/about">About</a></p></div>
          <div class="column"><p><a id="{% if url_name == 'publications' %}currpage{% endif %}" href="/publications">Publications</a></p></div>
        </div>
        <!-- Content -->
        {% block content %}
        {% endblock %}
    </div>
  </body>
  {% endwith %}
</html>
