{% extends "standard.html" %}
{% load mathfilters %}
{% block content %}
{% with p_multi=page_obj.number|add:"-1"%}
{% with p_change=plimit|mul:p_multi %}
    <!-- Editors Pick  -->
    <div class="container grid-lg p-relative p-0">
    <div id="ed-pick" class="card">
        <div class="card-header">
          <div class="card-title h1">Editors Pick</div>
        </div>
        <div class="card-body pt-2">
            {% for c in curated_items %}
            <div id="edlink" class="pb-2"><a href="{{c.item_url}}" onclick="upvote('{{c.item_id}}','{{session_id}}','{{ csrf_token }}')" class="vote-link" target="_blank">{{c.item_title}}</a></div>
            <div class="mb-2"><span id="edchip" class="chip bg-yellow">{{c.item_source}}</span></div>
            {% empty %}
            <p>No items to display</p>
            {% endfor %} 
        </div>
      </div>
    </div>
    <!-- Tabs  -->
    <div class="container grid-lg pt-2">
    <ul class="tab tab-block">
        <li class="tab-item">
          <a href="/" {% if t_view == 0 %} class="active" {% endif %}>Trending</a>
        </li>
        <li class="tab-item">
          <a href="new" {% if t_view == 1 %} class="active" {% endif %}>Newest</a>
        </li>
        <li class="tab-item">
          <a href="/old" {% if t_view == 3 %} class="active" {% endif %}>Oldest</a>
        </li>
        <li class="tab-item">
          <a href="/random" {% if t_view == 2 %} class="active" {% endif %}>Random</a>
        </li>
      </ul>
    </div>
    <!-- Content Feed -->
    <div class="container grid-lg">
    {% for i in content_items %}
        <div class="tile mt-2">
            {% if page_obj.number > 1 %}
            <div class="tile-icon">{{forloop.counter|add:p_change}}</div>
            {% else %}
                {% if forloop.counter < 10 %}
                <div class="tile-icon">0{{forloop.counter}}</div>
                {% else %}
                <div class="tile-icon">{{forloop.counter}}</div>
                {% endif %}
            {% endif %}
            <div class="tile-content">
                <div class="pb-1"><a href="{{i.item_url}}" onclick="upvote('{{i.item_id}}','{{session_id}}','{{ csrf_token }}')" target="_blank">{{i.item_title}}</a></div>
                <div>
                    <button id="id-{{i.item_id}}" class="btn chip bg-dark mr-2 text-primary fnt-semi" onclick="upvote('{{i.item_id}}','{{session_id}}','{{ csrf_token }}')">Vote</button>
                    <span class="chip"><a class="tdn" href="/sites">{{i.item_source}}</a></span>
                    
                    <!-- Admin only buttons -->
                {% if user.is_authenticated %}
                <span class="chip bg-orange"><a class="tdn" href="feature/{{i.item_id}}">Feature</a></span>
                <span class="chip bg-orange"><a class="tdn" href="hide/{{i.item_id}}">Hide</a></span>
                {% endif %}
                </div>
            </div>
        </div>
    <div class="divider"></div>
    {% empty %}
        <p>No Content to display</p>
    {% endfor %} 
    <div class="columns pagination">
        <div class="column col-6 step-links">
            {% if page_obj.has_previous %}
            <div id="header-medium">
                <span class="bg-yellow px-1r fnt-med"><a class="tdn" href="?page={{ page_obj.previous_page_number }}">PREVIOUS</a></span>
              </div>
            {% endif %}
        </div>
        <div class="column col-6 step-links text-right">
            {% if page_obj.has_next %}
            <div id="header-medium">
                <span class="bg-yellow px-1r fnt-med"><a class="tdn" href="?page={{ page_obj.next_page_number }}">NEXT</a></span>
              </div>
            {% endif %}
        </div>
    </div>
</div>
    {% endwith %}
    {% endwith %}
{% endblock %}