{% extends "base.html" %}
{% load mathfilters %}
{% block content %}
{% with p_multi=page_obj.number|add:"-1"%}
{% with p_change=plimit|mul:p_multi %}
<!-- -- Curated Feed -- -->
<div id="editorial" class="row">
    <div id="edtitle" class="column"><H4>Curated</H4></div>
    <div id="cmeta" class="column column-90">
    {% for c in curated_items %}
    <div id="citems" class="row">
        <div id="cmeta" class="column column-90">
            <div id="ctitle" class="row vote-link"><p><a href="/itemclicked/{{c.item_id}}" target="_blank">{{c.item_title}}</a></p></div>
            <div id="cdesc" class="row"><p>{{c.item_source}}</p></div>
        </div>
    </div>
    {% empty %}
    <div class="row">
        <p>No objects returned.</p>
    </div>
    {% endfor %} 
    </div>
</div>
<!-- -- Content Feed -- -->
<div id="content" class="row">
{% for i in content_items %}
<div id="citems" class="row">
    <div id="cnum" class="column">
    {% if page_obj.number > 1 %}
        <p>{{ forloop.counter|add:p_change}}</p>
    {% else %}
        {% if forloop.counter < 10 %}
            <p>0{{forloop.counter}}</p>
        {% else %}
            <p>{{forloop.counter}}</p>
        {% endif %}
    {% endif %}
    </div>
    <div id="cmeta" class="column column-90">
        <div id="ctitle" class="row"><p><a href="/itemclicked/{{i.item_id}}" target="_blank">{{i.item_title}}</a></p></div>
        <div id="cdesc" class="row">
            <div id="cdesc-vote" class="column"><p>▲ <a href="upvote/{{i.item_id}}">Vote</a></p></div>
            <div id="cdesc-source" class="column"><p>{{i.item_source}}</p></div>
        </div>
    </div>

</div>
{% empty %}
    <div class="row">
    <p>No objects returned.</p>
    </div>
{% endfor %} 
</div>
<div id="pagination" class="row">
    <div id="pageleft" class="column">
        {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    </div>
    <div id="pagemid" class="column">
        {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </div>
    <div id="pageright" class="column">
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
    </div>
</div>
{% endwith %}
{% endwith %}
{% endblock %}
