{% extends "base.html" %}
{% block content %}
<div id="normal" class="row">
    <h1>Publications</h1>
</div>
<div id="pubgrid" class="row">
    {% for p in publications %}
    <div id="pubcol" class="column column-50">
        <div id="pubitem" class="row">
            <div id="puptitle" class="column column-40">{{p.pub_name}}</div>
            <div id="pubdesc" class="column">{{p.pub_description}}</div>
        </div>
    </div>
    {% empty %}
    <p>No Publications to display, possible query error.</p>
    {% endfor %} 
</div>
<!-- Publication Request -->
<div id="normal" class="row">
    <h2>Request to add your publication</h2>
</div>
<div id="norm-grid" class="row">
    <div id="norm-point" class="column"><p>-</p></div>
    <div id="norm-item" class="column"><p>Your site needs to have an RSS feed, I'll be working on other methods of acquiring data in the future but at the moment its RSS only.</p></div>
</div>
<div id="norm-grid" class="row">
    <div id="norm-point" class="column"><p>-</p></div>
    <div id="norm-item" class="column"><p>Your site needs to be contain a decent amount of content about video games, game development, or the video game industry.</p></div>
</div>
<div id="norm-grid" class="row">
    <div id="norm-point" class="column"><p>-</p></div>
    <div id="norm-item" class="column"><p>While some paywalling is acceptable, i.e Substack, there also needs to be freely-available content.</p></div>
</div>
<div id="norm-grid" class="row">
    <div id="norm-point" class="column"><p>-</p></div>
    <div id="norm-item" class="column"><p>The clear majority of your content needs to be editorial, if every post is the 'latest' news or a wall of reviews, it's not the brand of content I'm looking to highlight.</p></div>
</div>
<div id="norm-grid" class="row">
    <div id="norm-point" class="column"><p>-</p></div>
    <div id="norm-item" class="column"><p>While we have no problem with your site having an infrequent posting schedule, in order to review your site we would like to see at least one to two articles posted in good faith in the past twelve months.</p></div>
</div>
<div id="norm-grid" class="row">
    <div id="norm-point" class="column"><p>-</p></div>
    <div id="norm-item" class="column"><p>The review of your site will not be undertaken in any set timeframe.</p></div>
</div>
<div id="norm-grid" class="row">
    <div id="norm-point" class="column"><p>-</p></div>
    <div id="norm-item" class="column"><p>We reserve the right to reject your site as a new source based on grounds not listed above, we'll be in contact with you about that process and explain our reasoning if I have concerns.</p></div>
</div>
<div id="formform" class="column">
    <form method="POST">
        {% csrf_token %}
        {{ NewSourceRequest }}
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}