{% extends "standard.html" %} {% block content %}
<div class="container grid-lg pt-2r">
  <h1>Search</h1>
  <p>
    Please enter your search terms below and it will search for articles where
    the title contains those keywords.
  </p>
  <!-- Form -->
  <div class="container px-0 pb-2 mb-2">
    <form action="{% url 'search' %}" method="POST">
        <div id="sbar" class="input-group">
            {% csrf_token %}
            <input
              class="input-group"
              type="text"
              placeholder="Please enter your search…"
              name="Article Name"
            />
            <button class="btn btn-col1 input-group-btn" type="submit"><i class="icon icon-search"></i></button>
          </div>
    </form>
  </div>
</div>
<!-- Search Results -->
<div class="container grid-lg">
  <h2>Results</h2>
  {% for r in results %}
  <div class="tile mt-2">
    <div class="tile-icon"><i class="icon icon-minus"></i></div>
    <div class="tile-content">
      <div class="pb-1">
        <a href="/itemclicked/{{i.item_id}}" target="_blank"
          >{{r.item_title}}</a
        >
      </div>
      <div><span class="chip">{{r.item_source}}</span></div>
    </div>
  </div>
  {% empty %}
  <p>No Results</p>
  {% endfor %}
</div>
{% endblock %}
