{% extends "standard.html" %} {% block content %}
<div class="container grid-lg p-0">
<!-- Page Title -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
    <div id="header-big">
        <span class="bg-yellow fnt-extra px-1r">Search</span>
    </div>
<!-- Search Text -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
<div class="px-1r">
    <span>
        Search across all the articles or sites that we have. Simply enter your
        keywords in the search box below and it will return any articles
        matching those terms and / or the articles of the sites matching those
        terms.
    </span>
</div>
</div>
<!-- Search Bar  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
<div class="container grid-lg p-0">
    <!-- Form -->
    <div class="container px-0 pb-2 mb-2">
      <form action="{% url 'search' %}" method="POST">
        <div id="search-bar" class="input-group p-1r">
          {% csrf_token %}
          <input
            class="input-group col-12"
            type="text"
            placeholder="Please enter your search…"
            name="Search Terms"
          />
          <button class="btn btn-secondary input-group-btn text-center m-a pl-1r pr-1hr" type="submit">
            <i class="icon icon-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
<!-- Results --  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
<!-- Search Results -->
<div class="container grid-lg">
    <div id="header-medium" class="mb-2r">
        <span class="bg-yellow fnt-extra p-2">Results</span>
    </div>
  {% for r in results %}
  <div class="tile mt-2">
    <div class="tile-icon"><i class="icon icon-minus"></i></div>
    <div class="tile-content">
      <div class="pb-1">
        <a href="{{r.item_url}}" onclick="upvote('{{r.item_id}}','{{session_id}}','{{ csrf_token }}')" target="_blank">{{r.item_title}}</a>
      </div>
      <div><span class="chip">{{r.item_source}}</span></div>
    </div>
  </div>
  {% empty %}
  <p>No Results</p>
  {% endfor %}
</div>
<!-- Pagination -->
<div class="container grid-lg">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item page-prev">
          <a href="?page={{ page_obj.previous_page_number }}">
            <div class="page-item-title">Previous</div>
          </a>
        </li>
        {% else %}
        <li class="page-item page-prev disabled">
            <a href="#">
              <div class="page-item-title">Previous</div>
            </a>
          </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="page-item page-next">
          <a href="?page={{ page_obj.next_page_number }}">
            <div class="page-item-title">Next</div>
          </a>
        </li>
      {% else %}
      <li class="page-item page-next disabled">
        <a href="#">
          <div class="page-item-title">Next</div>
        </a>
      </li>
      {% endif %}
        </ul>
    </div>
{% endblock %}
