<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/spectre.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/spectre-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/spectre-exp.css' %}" />
    <script src="{% static 'JS/searchToggle.js' %}"></script> 
    <script src="{% static 'JS/clickToggle.js' %}"></script> 
    <script src="{% static 'JS/scrolltracker.js' %}"></script> 
    <title>reconnect</title>
    <link rel="stylesheet" href="" />
  </head>
  <!-- Variables -->
  <!-- Gets Page URL -->
  <!-- <body oncontextmenu="return false;"> -->
    <body>
    <div class="bg-dark container grid-lg p-sticky-t">
    <div class="container grid-lg ">
      <!-- Title & Nav -->
      <div class="columns pt-2">
        <div class="column col-2 float-left">
          <div class="dropdown">
            <a
              href="#"
              id="droplink"
              class="btn btn-action btn-lg dropdown-toggle btn-col1"
              tabindex="0"
              onclick="clickToggle()"
              ><i class="icon icon-menu"></i
            ></a>
            <ul id="dropmenu" class="menu bg-yellow">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/sites">Sites</a></li>
              <li><a href="/search">Search</a></li>
            </ul>
          </div>
        </div>
        <div id="title" class="column col-8 text-center">
            <a id="titleText" href="/"><span id="t1">RECONNECT</span></a>
        </div>
        <div class="column col-2 p-relative">
          <button onclick="searchToggle()" id="slink" class="btn btn-lg btn-action float-right btn-col1 p-relative"><i id="sbuttS" class="icon icon-search"></i><i id="sbuttX" class="icon icon-arrow-up"></i></button>
        </div>
      </div>
    </div>
    <!-- Search Bar -->
    <div id="searchbar" class="container grid-lg">
        <form action="{% url 'search' %}" method="POST">
          <div id="sbar" class="input-group px-2">
            {% csrf_token %}
            <input
              class="input-group"
              type="text"
              placeholder="Enter keywords here..."
              name="Article Name"
            />
            <button class="btn btn-col1 input-group-btn" type="submit"><i class="icon icon-search"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!-- Content -->
    {% block content %} {% endblock %}
    <!-- Footer -->
    <div class="container grid-lg mt-2">
        <div id="footer" class="columns text-center p-2 bg-dark">
            <div class="column col-1"></div>
            <div class="column col-10 text-center text-primary p-2"><p class="p-0 m-0">This site is an <a href="https://linktr.ee/antranaut"> Alex Antra </a> product, design by <a href="http://micahtabak.myportfolio.com/"> Micah Tabak </a>.</p></div>
            <div class="column col-1"></div>
    </div>
  </body>
</html>
